<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/inicial.css">
    <link rel="stylesheet" type="text/css" href="css/alunos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Bem Vindo</title>
    <base href="/">
</head>

<body>

    <div class="page">
        <div class="Header">
            <div id="logo">
                <img id="logo-head" src="../img/resolucaologo.png" alt="logo"> 
            </div>
            <form method="POST" action="/logout">
                <button id="btn-sair">Desconectar</button>
            </form>
        </div>
        <div class="menu-gatilho" id="menu-gatilho" onclick="menu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="menu-retratil" id="menu-retratil">
                   
        <ul>
            <%if(typeof user.username != "undefined" && user.username){ %>
                <li ><%= user.username%></li>
            <% } %>
            <form  action="/agenda" method="post">
                <button class="menu-retratil-items" type="submit"><li>agenda</li></button>
            </form>
            <form  action="/alunos" method="post">
                <button class="menu-retratil-items" type="submit"><li>Alunos</li></button>
            </form>
            <form  action="/professores" method="post">
                <button class="menu-retratil-items" type="submit"><li>Professores</li></button>
            </form>
            <li>Conta</li>
        </ul>

        </nav>
        <div class="alunos">
            <button id="alunos-add-btn">Adicionar</button>
                <dialog id="pop-add-aluno">
                    
                        <div class="form-aluno">
                            <div class="form-add-aluno">
                            <form id="formAluno" method="post" action="/professor/adicionar">
                                <label class="form-aluno-lbl" >
                                    Nome: <input type="text" class="form-aluno-inpt"  placeholder="nome" name="Nome" required>
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Email: <input type="text" class="form-aluno-inpt"  placeholder="email" name="email" required>
                                </label>
                                

                                <label class="form-aluno-lbl">
                                    Endereco: <input type="text" class="form-aluno-inpt"  placeholder="endereco" name="endereco" required>
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Cidade:  <input type="text" class="form-aluno-inpt"  placeholder="Cidade" name="Cidade" required>
                                </label>
                               

                                <label class="form-aluno-lbl" >
                                    CEP: <input type="text" class="form-aluno-inpt"  placeholder="CEP" name="CEP" required>
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Telefone:<input type="text" class="form-aluno-inpt"  placeholder="Telefone" name="Telefone" required>
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Conta Bancaria: <input type="text" class="form-aluno-inpt"  placeholder="Conta bancaria" name="ContaBancaria" required>
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Agencia Bancaria: <input type="text" class="form-aluno-inpt"  placeholder="AgenciaBancaria" name="AgenciaBancaria" required>
                                </label>
                                <div class="popup-btn-bar">
                                    <button id="add-aluno-close" type="button" onclick=" closeModal_add_aluno()">cancelar</button>
                                    <button id="add-aluno-send"  value="submit" >Adicionar</button>
                                </div> 
                                
                            </form>
                        </div>
 
                        </div> 
                    
                </dialog>
            <div class="display-alunos">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">endereco</th>
                            <th scope="col">cidade</th>
                            <th scope="col">CEP</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Conta bancaria</th>
                            <th scope="col">Agencia</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% if(typeof professor != "undefined" && professor){ %>
                        <% for(let i = 0; i < professor.length; i++){ %>
                        <tr onclick="openModal_edit_professor(this)">
                            <th scope="row"><%= professor[i].ID %></th>
                            <td><%= professor[i].Nome %></td>
                            <td><%= professor[i].email %></td>
                            <td><%= professor[i].endereco %></td>
                            <td><%= professor[i].Cidade %></td>
                            <td><%= professor[i].CEP %></td>
                            <td><%= professor[i].Telefone %></td>
                            <td><%= professor[i].ContaBancaria %></td>
                            <td><%= professor[i].AgenciaBancaria %></td>
                        </tr>
                        <% } %>
                        <% } %>
                        
                    </tbody>
                    <dialog id="pop-edit-aluno">
                    
                        <div class="form-aluno">
                            <div class="form-add-aluno">
                            <form id="formDelProfssor" method="post" action="/professor/DELETAR">
                                <input id="input-ID-DEL" type="text" class="form-aluno-inpt" name="ID" hidden>
                            </form>
                            <form id="formEditAluno" method="post" action="/professor/editar">

                                <label id="label-Matricula-Edit" class="form-aluno-lbl" >
                                    ID:                                   
                                </label>

                                <input id="input-ID-Edit" type="text" class="form-aluno-inpt" name="ID" hidden>

                                <label class="form-aluno-lbl" >
                                    Nome: <input id="input-Nome-Edit" type="text" class="form-aluno-inpt"  placeholder="nome" name="Nome">
                                </label>

                                <label class="form-aluno-lbl" >
                                    Email: <input id="input-Email-Edit" type="text" class="form-aluno-inpt"  placeholder="email" name="email">
                                </label>
                                

                                <label class="form-aluno-lbl">
                                    Endereco: <input id="input-Edc-Edit" type="text" class="form-aluno-inpt"  placeholder="endereco" name="endereco">
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Cidade:  <input id="input-Cid-Edit" type="text" class="form-aluno-inpt"  placeholder="Cidade" name="Cidade">
                                </label>
                               

                                <label class="form-aluno-lbl" >
                                    CEP: <input id="input-CEP-Edit" type="text" class="form-aluno-inpt"  placeholder="CEP" name="CEP">
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Telefone:<input id="input-Telefone-Edit" type="text" class="form-aluno-inpt"  placeholder="Telefone" name="Telefone">
                                </label>
                                

                                <label class="form-aluno-lbl" >
                                    Conta Bancaria: <input id="input-Escola-Edit" type="text" class="form-aluno-inpt"  placeholder="ContaBancaria" name="ContaBancaria">
                                </label>
                                

                                <label class="form-aluno-lbl">
                                    Agencia Bancaria: <input id="input-Idade-Edit" type="text" class="form-aluno-inpt"  placeholder="AgenciaBancaria" name="AgenciaBancaria">
                                </label>


                                <div class="popup-btn-bar">
                                    <button id="add-aluno-close" type="button" onclick=" closeModal_edit_professor()">cancelar</button>
                                    <button id="add-aluno-send"  value="submit" >Salvar</button>
                                    <button form="formDelProfssor" id="add-aluno-send"  value="submit" >Deletar</button>
                                </div> 
                                
                            </form>

                        </div>
 
                        </div> 
                    
                </dialog>
            </div>

        </div>

        <div class="footer">
        </div>
    
    </div>

</body>

<footer>
</footer>
<script src="../js/professores.js"></script>
<script src="../js/inicial.js"></script>
</html>